LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

LLM_PROVIDER=your-llm-provider
OLLAMA_BASE_URL=your-base-url
LARGE_LANGUAGE_MODEL=your-llm
TEXT_EMBEDDING_MODEL=your-text-embedding-model
OPEN_AI_API_KEY=your-api-key
TEMPERATURE=0.7

STORAGE_PROVIDER=your-storage-provider
QDRANT_URL=your-qdrant-url

MAX_COMPLETION_TOKEN=1000

SENTIMENT_MODEL=ProsusAI/finbert
SENTIMENT_DEVICE=cpu
