LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434
LARGE_LANGUAGE_MODEL=your-llm
TEXT_EMBEDDING_MODEL=your-text-embedding-model
OPEN_AI_API_KEY=your-api-key
TEMPERATURE=your-temp

STORAGE_PROVIDER=qdrant_ollama
NEWS_ANALYSIS_QUERY_URL=

MAX_COMPLETION_TOKEN=1000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_FILE_NAME=
