LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://host.docker.internal:11434
LARGE_LANGUAGE_MODEL=your-llm
TEXT_EMBEDDING_MODEL=your-text-embedding-model
OPEN_AI_API_KEY=your-api-key
TEMPERATURE=your-temp

QDRANT_URL=http://qdrant:6333

MAX_COMPLETION_TOKEN=1000
