.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache

# Go
coverage.out
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Storage & DB
qdrant_storage/
chroma_db/
*.db
*.sqlite3

# Docker
docker-compose.yml
Dockerfile
README.md
main
user-info
vendor/

# Env files
.env
.env.*
