PORT=your-port
HOST=localhost
DB_PORT=your-db-port
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password
DB_NAME=your-db-name

JWT_SECRET=your-jwt-secret

X_KEY=your-x-key
X_SECRET=your-x-secret
X_CALL_BACK=your-x-callback
X_REDIRECT_FRONTEND=your-x-redirect-frontend

JWT_EXPIRATION_HOURS=24

REDIS_ADDR=your-redis-addr
CACHE_EXPIRATION_HOURS=1
